name: 20 JOBS SUCCESS

on: workflow_dispatch

jobs:
  boom:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        id: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
      max-parallel: 20
    steps:
      - name: BHAI #${{ matrix.id }} CHALA
        run: echo "BHAI #${{ matrix.id }} CHAL GAYA $(date +%S.%3N) sec"
