name: 256 JOBS

on: [workflow_dispatch]

jobs:
  boom:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        id: ${{ fromJSON('[' + join(range(1, 257), ',') + ']') }}
      max-parallel: 256
    steps:
      - name: MAIN HU ID ${{ matrix.id }}
        run: |
          echo "Job #${{ matrix.id }} START → $(date +%S.%3N)"
          sleep 3
          echo "Job #${{ matrix.id }} DONE  → $(date +%S.%3N)"
