name: 256 JOBS

on: [workflow_dispatch]

jobs:
  boom:
    runs-on: ubuntu-latest
    steps:
      - name: Run 256 jobs in a loop
        run: |
          for i in $(seq 1 256); do
            echo "Job #$i START → $(date +%S.%3N)"
            sleep 3
            echo "Job #$i DONE  → $(date +%S.%3N)"
          done
