name: 256 JOBS
on: workflow_dispatch:
jobs:
  boom:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 256
      matrix: ${{ fromJSON(steps.set.outputs.matrix) }}
    steps:
      - id: set
        run: echo 'matrix={"id":["'$(seq -w -s'","' 1 256)'"]}' >> $GITHUB_OUTPUT
      - run: echo "BOOM #${{ matrix.id }} @ $(date +%S.%3N)"
