name: Scan IPv4 CIDR Ranges

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.gen.outputs.matrix }}
    steps:
      - id: gen
        run: |
          echo "matrix={\"octet\":[$(seq -s, 0 255)]}" >> $GITHUB_OUTPUT

  scan:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 256
      matrix:
        octet: ${{ fromJSON(needs.generate-matrix.outputs.matrix).octet }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Define CIDR
        id: cidr
        run: echo "CIDR=104.17.${{ matrix.octet }}.0/24" >> $GITHUB_ENV

      - name: Run IPv4 scan
        run: python IPv4_Scan.py "${{ env.CIDR }}"

      - name: Read Logs
        id: body
        run: |
          echo "BODY<<EOF" >> $GITHUB_ENV
          cat *_Logs.txt >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Release OUTPUT
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "104.17.${{ matrix.octet }}.0"
          body: ${{ env.BODY }}
          files: "*_IPs.txt"
