name: IPv4 CIDR Scan

on:
  workflow_dispatch:
    inputs:
      cidr:
        default: "104.17.0.0/24"
  push:
    branches:
      - main

jobs:
  scan:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with: {python-version: "3.x"}
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run IPv4_Scan.py
        run: python IPv4_Scan.py "${{ github.event.inputs.cidr }}"

      - name: Read Logs
        id: body
        run: |
          echo "BODY<<EOF" >> $GITHUB_ENV
          cat *_Logs.txt >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Release OUTPUT
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "104.17.0.0"
          body: ${{ env.BODY }}
          files: "*_IPs.txt"
