name: IPv4 Scan

on:
  workflow_dispatch:
    inputs:
      cidr:
        default: "104.17.0.0/24"

jobs:
  scan:
    permissions: {contents: write}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with: {python-version: "3.x"}
        
      - name: Install dependencies
        run: pip install requests

      - name: Run IPv4_Scan.py
        run: python IPv4_Scan.py "${{ github.event.inputs.cidr }}"

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: "104.17.0.0"
          body: echo "BODY<<EOF" >> $GITHUB_ENV && cat *_Logs.txt >> $GITHUB_ENV && echo "EOF" >> $GITHUB_ENV
          files: "*_IPs.txt"
